html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.arrow-btn {
  transition: all 0.3s ease-out;
  border-radius: 1rem;
  padding: 0.5rem;
}

.arrow-btn:hover {
  transform: translate(100, -5px);
  background-color: lightcyan;
}
